.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  background-color: #282c34;
  min-height: 10vh;
  padding: 10px 0;
  border-radius: 30px;
  margin: 5px;
  width: 100%;
  max-height: 200px;
  color: white;
  font-size: calc(8px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CMS-Form{
 padding: 40px;
 background-color: #dde0ee ;
 display: flex;
 justify-content: center;   
 align-items: center;
 margin: auto;
 max-width: 400px;
 border: 3px;
 border-style: groove;
 border-radius: 40px;
}
  /* display: "flex", justifyContent: "center", alignItems:"center", */
  /* // padding: '5px', margin : "auto", justifyItems: "center",  */
  /* background: "#DDE2EC", maxWidth: "500px", borderStyle: "ridge"} */
.App-link {
  color: #61dafb;
}

.App-Bar {
  padding: 7px;
  color: white;
  text-decoration: none;
  margin: 20px;
  border: 1px;
  border-radius: 10px;
  /* border-style: ridge; */
  /* border-color: white; */
}

.App-Bar:hover {
  color: yellow;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
